/* Reset e configurações básicas */
body, html {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    height: 100%;
    display: flex;
    flex-direction: column;
}

/* Estilo do header */
header {
    z-index: 7;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    position: sticky;
    text-align: center;
    top: 0;
    background: rgba(245, 242, 242, 0.9);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

header h1 {
    margin: 0;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 20px;
}

nav ul li {
    display: inline;
}

nav ul li a {
    text-decoration: none;
    color: #090909;
    font-weight: bold;
}

/* Estilo do main */
main {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

/* Estilo da exibição do produto */
.product-display {
    display: flex;
    align-items: center;
    gap: 2rem;
}

/* Estilo do container do slider */
.container-slider {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.container-images {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 400px; /* Ajuste o tamanho conforme necessário */
    height: 400px; /* Ajuste o tamanho conforme necessário */
    overflow: hidden;
}

.slider {
    opacity: 0;
    transition: opacity .5s;
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: contain;
    border-radius: 10px;
}

.slider.on {
    opacity: 1;
}

#prev-button, #next-button {
    width: 30px;
    height: 30px;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

#prev-button img, #next-button img {
    width: 100%;
    height: 100%;
}

#prev-button {
    transform: rotate(180deg);
}

/* Estilo das opções de produto */
.product-options {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.options {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.option {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

#buy-button {
    padding: 10px 20px;
    background-color: #090909;
    color: #fff;
    border: none;
    cursor: pointer;
    font-size: 1rem;
    border-radius: 5px;
}

#buy-button:hover {
    background-color: #333;
}
